[alias]
	br = branch
	cf = config
	ci = commit
	cl = clean
	co = checkout
	mg = merge
	rt = restore
	st = status
	sw = switch
[core]
	longpaths = true
[http "https://github.com"]
	proxy = http://127.0.0.1:7897
